fastapi
uvicorn
langchain
langchain-community
langchain-openai
langchain-mistralai
langchain-pinecone
pydantic
python-dotenv
chromadb
pypdf
python-multipart
openai
pinecone-client==2.2.4
unstructured
tiktoken
numpy
pandas
cloudinary
psycopg2-binary